table.swg-auth-resource-page {
  /* Spacing */
  padding: 0px;
  margin: 0px;
  width: 100%;
  
  /* Colors */
  background-color: #ffffff;
  color: #23282d;
  
  /* Typography */
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
  
  /* Borders */
  border: 0px solid #dddddd;
  border-radius: 0px;
  
  /* Effects */
  box-shadow: none;
  opacity: 1;
}

table.swg-auth-resource-page a {
  color: #2271b1;
  text-decoration: none;
}

table.swg-auth-resource-page a:hover {
  color: #135e96;
  text-decoration: underline;
}

div.swg-auth-single-resource-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
div.swg-auth-single-resource-page div.swg-auth-resource-class-breadcrumbs {
  width: 100%;
  margin-bottom: 20px;
}
div.swg-auth-single-resource-page div.swg-auth-resource-icon-and-name {
  width: 50%;
}
div.swg-auth-single-resource-page div.swg-auth-resource-icon-and-name img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
div.swg-auth-single-resource-page div.swg-auth-resource-icon-and-name span.swg-auth-resource-name {
  font-size: 1.5em;
  font-weight: bold;
}
div.swg-auth-single-resource-page div.swg-auth-resource-deplete-time {
  width: 50%;
  margin: auto 0px auto 0px;
}
div.swg-auth-single-resource-page div.swg-auth-resource-attributes {
  width: 50%;
  margin-top: 20px;
}
div.swg-auth-single-resource-page div.swg-auth-resource-planets {
  width: 50%;
  margin-top: 20px;
}
div.swg-auth-single-resource-page table.swg-auth-single-resource-attribute-table {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: auto;
}
div.swg-auth-single-resource-page table.swg-auth-single-resource-attribute-table tr {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
div.swg-auth-single-resource-page table.swg-auth-single-resource-attribute-table td {
  margin: 0px;
  padding: 0px 20px 0px 10px;
  border: 0px;
  vertical-align: bottom;
}

table.swg-auth-resource-page {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}
table.swg-auth-resource-page tr {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}
table.swg-auth-resource-page td {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
table.swg-auth-resource-page table.swg-auth-resource-attribute-table {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: auto;
}
table.swg-auth-resource-page table.swg-auth-resource-attribute-table tr {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
table.swg-auth-resource-page table.swg-auth-resource-attribute-table td {
  margin: 0px;
  padding: 0px 8px 0px 0px;
  border: 0px;
}
