table.swg-auth-resource-table {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
table.swg-auth-resource-table tr {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
table.swg-auth-resource-table td {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
