div.swg-auth-single-resource-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
div.swg-auth-single-resource-page div.swg-auth-resource-class-breadcrumbs {
  width: 100%;
  margin-bottom: 20px;
}
div.swg-auth-single-resource-page div.swg-auth-resource-icon-and-name {
  width: 50%;
}
div.swg-auth-single-resource-page div.swg-auth-resource-icon-and-name img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
div.swg-auth-single-resource-page div.swg-auth-resource-icon-and-name span.swg-auth-resource-name {
  font-size: 1.5em;
  font-weight: bold;
}
div.swg-auth-single-resource-page div.swg-auth-resource-deplete-time {
  width: 50%;
  margin: auto 0px auto 0px;
}
div.swg-auth-single-resource-page div.swg-auth-resource-attributes {
  width: 50%;
  margin-top: 20px;
}
div.swg-auth-single-resource-page div.swg-auth-resource-planets {
  width: 50%;
  margin-top: 20px;
}
div.swg-auth-single-resource-page table.swg-auth-single-resource-attribute-table {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: auto;
}
div.swg-auth-single-resource-page table.swg-auth-single-resource-attribute-table tr {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
div.swg-auth-single-resource-page table.swg-auth-single-resource-attribute-table td {
  margin: 0px;
  padding: 0px 20px 0px 10px;
  border: 0px;
  vertical-align: bottom;
}

table.swg-auth-resource-page {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}
table.swg-auth-resource-page tr {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}
table.swg-auth-resource-page td {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
table.swg-auth-resource-page table.swg-auth-resource-attribute-table {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: auto;
}
table.swg-auth-resource-page table.swg-auth-resource-attribute-table tr {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
table.swg-auth-resource-page table.swg-auth-resource-attribute-table td {
  margin: 0px;
  padding: 0px 8px 0px 0px;
  border: 0px;
}
